[Desktop Entry]
Name=Lightweight Power Applet
Name[id_ID]=Aplet Daya Ringan
Exec=cbatticon.launch
Terminal=false
Type=Application
OnlyShowIn=GNOME;
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-GNOME-UsesNotifications=true

